<footer class="container-fluide  ">
  <div class="text-center text-lg-start " style="background-color: #3e4551">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 pb-3">
            <p class="text-uppercase mb-2">about us</p>
            <ul class="list-unstyled mb-0">
              <li>
                <i class="fa-solid fa-location-dot me-3 icone "></i>
                <a href="#!" class="">Address: 52 El sheik Zayed ,ismailia </a>
              </li>
              <li>
                <i class="fa-solid fa-phone  me-3 icone"></i>
                <a href="#!" class="">Phone: (+1234)5678945
                </a>
              </li>
              <li>
                
                <i class="fa-solid fa-envelope  me-3 icone"></i>
                <a class=""  href="#!" class="">Mail: Elctronic@gmail.com
                </a>
              </li>
            </ul>

          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0 pb-3">
            <p class="text-uppercase mb-2">Information</p>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Typography</a>
              </li>
              <li>
                <a href="#!" class=""> Gallery
                </a>
              </li>
              <li>
                <a href="#!" class="">Store Location
                </a>
              </li>

            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase mb-2">Who We Are </p>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Help
                </a>
              </li>
              <li>
                <a href="#!" class="">Free shipping</a>
              </li>
              <li>
                <a href="#!" class="">FAQs
                </a>
              </li>
              <li>
                <a href="#!" class="">Return & Exchange</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <p class="text-uppercase mb-2">Services</p>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="">Order Online</a>
              </li>
              <li>
                <a href="#!" class="">Free Shipping</a>
              </li>
              <li>
                <a href="#!" class="">Saving Money</a>
              </li>

            </ul>
          </div>
        </div>
      </section>


      <hr class="mb-4" />
      <section class="mb-4 text-center">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>


      </section>
    </div>
    <div class="text-center p-3 copy-right" style="background-color: #00000033">
      © 2022 Copyright: All Rights Reserved
    </div>
  </div>
</footer>